git+https://github.com/Cromlech/crom.git#egg=crom
git+https://github.com/Cromlech/cromlech.browser.git#egg=cromlech.browser
git+https://github.com/Cromlech/cromlech.content.git#egg=cromlech.content
git+https://github.com/Cromlech/cromlech.dawnlight.git#egg=cromlech.dawnlight
git+https://github.com/Cromlech/cromlech.i18n.git#egg=cromlech.i18n
git+https://github.com/Cromlech/cromlech.location.git#egg=cromlech.location
git+https://github.com/Cromlech/cromlech.sqlalchemy.git#egg=cromlech.sqlalchemy
git+https://github.com/Cromlech/cromlech.webob.git#egg=cromlech.webob
git+https://github.com/Cromlech/dawnlight.git#egg=dawnlight
git+https://github.com/Cromlech/dolmen.collection.git#egg=dolmen.collection
git+https://github.com/Cromlech/dolmen.forms.base.git#egg=dolmen.forms.base
git+https://github.com/Cromlech/dolmen.forms.ztk.git#egg=dolmen.forms.ztk
git+https://github.com/Cromlech/dolmen.message.git#egg=dolmen.message
git+https://github.com/Cromlech/dolmen.tales.git#egg=dolmen.tales
git+https://github.com/Cromlech/dolmen.template.git#egg=dolmen.template
git+https://github.com/Cromlech/dolmen.view.git#egg=dolmen.view
git+https://github.com/Cromlech/dolmen.viewlet.git#egg=dolmen.viewlet
git+https://github.com/Cromlech/grokker.git#egg=grokker
git+https://github.com/Cromlech/cromlech.auth.git#egg=cromlech.auth
git+https://github.com/Cromlech/dolmen.sqlcontainer.git#egg=dolmen.sqlcontainer
-e git+https://github.com/novareto/gatekeeper.git@crom#egg=gatekeeper

fanstatic
polib
pycryptodome
rutter
transaction
